<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="frame frame_header">
            <h1 id="js-page-title" class="hd-page"></h1>
            <a class="brand" href=""><i class="icon-logo">The</i> App</a>
            <div class="nav-collapse collapse">
                <div class="pull-right">
                    <ul class="nav pull-right">
                        <li>
                            <span id="js-online-status" class="label label-header label-success">Online</span>
                        </li>
                        <li id="js-user-dropdown" class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><span id="js-user-name">Welcome</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a id="js-edit-profile-link" class="online-only" href=""><i  class="icon-edit"></i> Edit Profile</a>
                                </li>
                                <li>
                                    <a id="js-user-link" class="online-only" href=""><i class="icon-user"></i> User Administration</a>
                                </li>
                                <li>
                                    <a id="js-dealer-link" class="online-only" href=""><i class="icon-globe"></i> Partner Management</a>
                                </li>
                                <li>
                                    <a id="js-invite-link" class="online-only" href=""><i class="icon-envelope"></i> Invite User</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a id="js-log-off" href=""><i class="icon-off"></i> Sign Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /nav -->
                </div>
                <!-- /pull-right -->
            </div>
            <!-- /nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->